*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* rosa #E61986 */
/* azzurro #ADD8E6 */

body
{
  background: #ADD8E6;
  font-family: 'Potta One', cursive;
}

.titolo h1
{
  color: white;
  font-size: 55px;
  text-align: center;
  text-shadow: 0 0 5px grey;
}

.container
{
  width: 900px;
  margin: auto;
}

.row
{
  margin-top: 30px;
}

.row::after
{
  content: "";
  display: table;
  clear: both;
}

.mr-4
{
  margin-right: 4%;
}

.card
{
  width: 22%;
  float: left;
  height: 220px;
  border-radius: 10px;
  background-image: url("../img/pattern.png");
  background-repeat: repeat-y;
  background-size: 100%;
  box-shadow: 0 0 5px grey;
  text-align: center;
  padding-top: 8px;
}

img, span
{
  visibility: hidden;
}

.card:hover img
{
  width: 80%;
  visibility: visible;
}

.card:hover span
{
  color: #E61986;
  font-size: 20px;
  text-shadow: 0 0 2px grey;
  visibility: visible;
}

.card:hover
{
  background: white;
}
